*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clockContainer{
  width: 35%;
  height: 35vw;
  background: url(./b059de42751692ac9e74a00182f4aaf2-removebg-preview.png) no-repeat;
  background-size: 100%;
  position: relative;
  margin: auto;
  }
  #hour, #minute, #second{
      position: absolute;
      background-color: black;
      border-radius: 8px;
     transform-origin: bottom;
  }
  #hour{
    width: 1.3%;
    height: 20%;
   top: 30%;
    left: 49.5%;
   
  }
  #minute{

    width: 1.5%;
    height: 30%;
    top: 19.5%;
    left: 49.5%;
  
}
#second{
    width: .5%;
    height: 35%;
    top: 15%;
    left: 50%;
  
}